body,input{ padding:0; margin:0; font-family:"΢���ź�";border:none;}
body{ margin:0 auto; padding:40px 0; }
.main{ background:#fff;; margin:0 auto; width:670px;}
.main_bt{margin:0 auto; padding:30px 0 20px 0; text-align:center; }
.main_nr{margin:0 auto; padding:30px 0; color:#128dea; font-size:124px;  width:670px;}
.main span{ float:left;}
.mt52{margin-top:52px;}
.lologo{text-align:right;}

