/* CSS Document */
html {color:#333;background:#FFF; height:100%}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td {margin:0;padding:0; font-size:12px;}
table {border-collapse:collapse;border-spacing:0;}
fieldset,img {border:none;}
address,caption,cite,code,dfn,em,strong,th,var {font-style:normal;}
ul,dl {list-style:none;}
caption,th{text-align:left;}
h1,h3,h4,h5,h6,b{ font-weight:normal;}
abbr,acronym {border:0;font-variant:normal;}
sup {vertical-align:text-top;}
sub {vertical-align:text-bottom;}
label {font-family:inherit;font-size:inherit;font-weight:inherit;}
input,textarea,select {font-family:inherit;font-size:inherit;font-weight:inherit;}
input,textarea,select {*font-size:100%;}
legend {color:#000;}
del,ins {text-decoration:none;}
pre{word-break:break-all; word-wrap:break-word;}
.clear{clear:both;display:block;width:100%;height:100%}
/*--------link-color-------*/
a{ color:#111; text-decoration:none;}
a:hover{ color:#333; text-decoration:underline;}

a.blue{ color:#2A7CC5;}
a.blue:hover{  color:#057BD2; text-decoration:underline;}

a.orange{ color:#F60;}
a.orange:hover{ color:#F60; text-decoration:underline;}

a.red{ color:#CA0004;}
a.red:hover{ text-decoration:underline;}

a.white{ color:#FFF;}
a.white:hover{ color:#FF0;}

a.normal:link{ color: #333;}
a.normal:hover{ color:#C00; text-decoration:underline;} 
a.normal:visited { color:#906; text-decoration: none;}
a.normal:active{ color:#C00; text-decoration:underline;}
.leftF{float:left;}
.rightF{float:right;}
.leftF_inline{float:left; display:inline;}
.rightF_inline{float:right; display:inline;}